html, body { 
    height: 100%; 
    overflow: hidden;
    margin: 0;
} 
#konva-container {
    /* height: 100%; */
}

#transactions {
    flex: 1;    
    height: 100%;
    overflow-y: scroll;
}

.d-flex {
    display: flex;
}

.width-full {
    width: 100%;
}

.container {
   height: 100%;;
}

.visuals {
    height: 100%;
}


